@using WeatherInfo.Web.Models.Weather
@model MainViewModel
@{
    ViewBag.Title = "Main";
}

<h2>Locations</h2>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge"><span id="currentLocationTemperature">54</span>&deg; <span id="currentLocationUnitType">F</span></span>
            Current Location (city name)
        </li>
    </ul>
    @foreach (var item in Model.MainItems)
    {
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">@item.CurrentTemperature&deg; @Model.UnitType</span>
                @item.CityName
            </li>
        </ul>
    }
</div>

@section scripts {
    <script language="javascript" type="text/javascript">
        var geoLocator;

        $(document).ready(function () {
            geoLocator = new weatherInfo.geoLocator();
            geoLocator.getCurrentLocation();
        });

    </script>
}
