<div class="modal-header" style="background-color: white;">
    <h4>Add Location</h4>
</div>
<div class="modal-body" style="background-color: white;">
    <div style="background-color: white; margin-bottom: 15px;">
        <div>
            <input type="text" placeholder="Enter Location Here" data-ng-model="address" />
        </div>
        <div style="clear: both; margin-bottom: 10px;">&nbsp;</div>
        <div>
            <button class="btn" data-ng-click="searchLocation()">Search</button>
            &nbsp;&nbsp;
            <button class="btn" data-ng-click="modalCancel()">Close</button>
        </div>
    </div>
    <div>&nbsp;</div>
</div>
